doctype html
html
	head
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript' src='/js/script.js')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		title The flavor matching
	body
		.container
			nav
				.nav-wrapper
					a.brand-logo(href='#') flavornotes
					ul#nav-mobile.right.hide-on-med-and-down
						li
							a(href='/flavormatcher') matcher
						li
							a(href='/journal') your ideas
						li
							a(href='/logout') logout

			#gridcontent
			.row
				#sidenav.col.s12.m4.l3
					br
					//- form#ingredientSearch(name='ingredientSearch')
					input#q(type='text', name='q', placeholder='what is your main ingredient?') 
					button#search() Click here
					br
					.input-field.col.s12
						select#categories
						label Choose a category
				#resultsarea.col.s12.m8.l9.z-depth-3
					script.
							function selectIngredient(ingredient){

						//define 'id' as the data attribute set to chosen ingredient
							//- var something = $(this)
							//- var id = JSON.parse(something);
						var id = ingredient.id
						console.log("This is the ingredient "+id)

						var request = new XMLHttpRequest();

						request.open('GET', `https://api.foodpairing.com/ingredients/${id}/pairings`);

						request.setRequestHeader('X-Application-ID', '4d3622c7')
						request.setRequestHeader('X-Application-Key', 'a7d005ed7abf111972bcd797aebf78ac')
						request.setRequestHeader('X-API-Version', '1')
						request.setRequestHeader('Accept', 'application/json')

						request.onreadystatechange = function() {
							if (this.readyState === 4) {
								console.log('Status:', this.status);
								console.log('Headers:', this.getAllResponseHeaders());
								//- console.log('Body:', this.responseText);
								var pairingsData = JSON.parse(this.responseText)
								console.log(pairingsData)

								//
							}
						};

						request.send();
						}



						
						
