doctype html
html
	head
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		title Your journal
	body
		.container
			#gridcontent
				#topnav

				.row
					#sidenav(class='col s12 m4 l3')
						a(href='/')
					#content(class='col s12 m8 l9')